.admin-panel {
    width: 80%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 25%;
    background: #3498db;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.sidebar a:hover {
    background: #2980b9;
}

.content {
    color: #333;
    width: 70%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.admin-form {
    display: flex;
    flex-direction: column;
}

.admin-form label {
    margin-bottom: 10px;
}

.admin-form input,
.admin-form select,
.admin-form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.admin-form input[type="file"] {
    display: none; /* Скрываем стандартное поле для выбора файла */
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #3498db;
    color: #fff;
    border-radius: 5px;
}

.custom-file-upload:hover {
    background: #2980b9;
}

.admin-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.admin-form input[type="submit"] {
    padding: 12px;
    background: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.admin-form input[type="submit"]:hover {
    background: #27ae60;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-number a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.product-number a:hover {
    color: #2980b9;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-actions form {
    display: inline-block;
}

.product-actions input[type="submit"] {
    padding: 8px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
    margin-right: 5px;
}

.product-actions input[type="submit"]:hover {
    background: #2980b9;
}

.order-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.order {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-number a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.order-number a:hover {
    color: #2980b9;
}

.order-status,
.order-total,
.order-buyer {
    color: #333;
}

.cancel-form {
    display: flex;
    align-items: center;
}

.cancel-form input[type="submit"] {
    padding: 10px;
    background: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

.cancel-form input[type="submit"]:hover {
    background: #c0392b;
}