<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VANSTORE - Your Van, Your Style</title>
  <link rel="stylesheet" href="" th:href="@{/css/index.css}">
</head>
<body>

<div class="header">
  <a href="/" class="logo">VANSTORE</a>
  <div class="nav">
    <a href="/">Главная страница</a>
    <a href="/catalog/selectCategory">Каталог</a>
    <a href="/contact_us">Написать нам</a>
    <a href="/userProfile">Мой профиль</a>
  </div>
</div>

<div class="main-content">
  <h2>Welcome to VANSTORE</h2>
  <p>
    Добро пожаловать на VANSTORE: Ваш универсальный маркетплейс для автолюбителей и владельцев автомобилей!
  </p>
  <p>
    Мы - ваш единый источник для всех необходимых товаров и аксессуаров для вашего автомобиля.
  </p>
  <p>
    <strong>Разнообразие товаров:</strong>
  </p>
  <p>
    <strong>Автозапчасти и аксессуары:</strong> На VANSTORE вы найдете все, от фильтров и тормозных колодок до современных гаджетов и ковриков для салона. Мы предлагаем широкий ассортимент товаров для обслуживания и улучшения вашего автомобиля.
  </p>
  <p>
    <strong>Инструменты и оборудование:</strong> Для автомобильных мастеров и энтузиастов у нас есть высококачественные инструменты и оборудование, которые помогут вам поддерживать и ремонтировать ваш автомобиль.
  </p>
  <p>
    <strong>Электроника и развлечения:</strong> Обновите свою автомобильную систему современными головными устройствами, динамиками, видеорегистраторами и другими инновационными электронными устройствами для вашего комфорта и удовольствия.
  </p>
  <p>
    <strong>Преимущества VANSTORE:</strong>
  </p>
  <p>
    <strong>Безопасные покупки:</strong> Мы гарантируем качество всех продуктов, предлагаемых нашими доверенными продавцами.
  </p>
  <p>
    <strong>Легкость поиска:</strong> Используйте наш удобный поиск и фильтры для быстрого и точного нахождения нужных товаров.
  </p>
  <p>
    <strong>Экспертные отзывы:</strong> Читайте отзывы других покупателей и делитесь своим опытом, чтобы сделать более осознанный выбор.
  </p>
  <p>
    <strong>Быстрая доставка:</strong> Мы предлагаем удобные варианты доставки, чтобы ваши товары были у вас в руках как можно скорее.
  </p>
  <p>
    Выберите VANSTORE - ваш идеальный партнер для заботы о вашем автомобиле!
  </p>
</div>

</body>
</html>
